name: Arduino Test Build
on: push
jobs:
  build:
    name: Test compiling examples for Arduino Platform
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Compile all examples
      uses: ArminJo/arduino-test-compile@v3
      with:
        arduino-board-fqbn: arduino:avr:mega
        required-libraries: Servo,MFRC522,Keypad,LiquidCrystal_I2C
